<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="css/elementUI.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript"></script>
		<script src="js/elementUI.js" type="text/javascript"></script>
	</head>
	<body style="background-image: url('./img/backgroud1.jpg')">
		<div id="login" >
			<el-tag type="success" style="height: 50px;width: 100%;text-align: center;font-size: 50px;padding-top: 5px">Titan Online Library</el-tag>
				<el-form  style="width: 30%;margin: auto;position: absolute;top:30%;left: 35%" :label-position="labelPosition" label-width="80px">
					<el-tag type="success" style="width: 100%;text-align: center;font-size: 20px;margin-bottom: 20px">LOGIN</el-tag>
					<el-form-item >
						<span slot="label">
						  <span style="color: white">username:</span>
						</span>
						<el-input v-model="username"></el-input>
					</el-form-item>
					<el-form-item label="password:">
						<span slot="label">
						  <span style="color: white">password:</span>
						</span>
						<el-input type="password" v-model="password"></el-input>
					</el-form-item>

					<el-button type="success" style="width: 100%" @click="login()">LOGIN</el-button>
					<el-link type="primary" style="float: right" @click="register()">register</el-link>
					<el-radio style="color: white" v-model="radio" label="1">admin</el-radio>
					<el-radio style="color: white" v-model="radio" label="2">user</el-radio>
				</el-form>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: '#login',
			data: {
				labelPosition: 'right',
				username: '',
				password: '',
				radio:""
			},
			methods: {
				register() {
					window.location.href='register.html'
				},
				login(){
					if(this.radio!=""){
						if(this.radio==2){
							axios({
								method:"get",
								url:"http://localhost/loginUser.php",
								params:{
									username:this.username,
									password:this.password,
								}
							}).then(res=>{
								console.log(res)
								if (res.data.status=="true") {
									this.$message({
										message: 'login was successful',
										type: 'success'
									});
									setTimeout(()=>{
										window.location.href="User.html?userid="+res.data.id
									},1000)
								}else{
									this.$message.error('login has failed');
								}
							})
						}else{
							axios({
								method:"get",
								url:"http://localhost/loginAdmin.php",
								params:{
									username:this.username,
									password:this.password,
								}
							}).then(res=>{
								console.log(res)
								if (res.data.status=="true") {
									this.$message({
										message: 'login was successful',
										type: 'success'
									});
									setTimeout(()=>{
										window.location.href="admin.html?userid="+res.data.id
									},1000)
								}else{
									this.$message.error('login has failed');
								}
							})
						}
					}else{
						this.$message.error('Please select a role');
					}
				}
			}
		})
	</script>
</html>
